<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head  th:include="header-head :: included-head"></head>


  <body>
    <!-- ======= Header ======= -->
       <header  id="header" class="fixed-top" th:include="common/header :: included-content"></header>

    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
          <h2>About us</h2>
          <p><b>ampmjobs.in</b> is designed to maximize the benefit of getting into Part-Time jobs
             platform with so many options to choose from.This application is developed on a 
             robust platform using the state-of-art technologies while making the application 
             available, scalable and secured all the time.  </p>
        </div>
      </div>
      <!-- End Breadcrumbs -->

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left"
              data-aos-delay="100">
              <img src="assets/img/about.jpg" class="img-fluid" alt>
         
              <div class="mt-5 medium-screen">
				  <h2 class="previous">FAQ's : -</h2>
					<div class="faq">
					  <div class="faq-box">
							<div class="question" style="width: 100%;">Can I get a refund if I cancel the Subscription?</div>
					  		<div class="answer" style="width: 100%;">No.</div>
						</div>
					  	<div class="faq-box">
							<div class="question" style="width: 100%;">How do I Resolve the issue if my transaction has failed and the money got deducted from my bank account?</div>
					  		<div class="answer" style="width: 100%;">You have to submit the UTR No/Transaction Id and screenshot of the payment details to customer care.</div> 
						</div>
					  	<div class="faq-box">
						  	<div class="question">What Payment methods are accepted?</div>
					  		<div class="answer">UPI, Net Banking, Debit Card & Credit Card</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">Can I change my preferred location?</div>
					  	  <div class="answer">Yes! You can change it in the Dashboard</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">Can I change my job interests in the application?</div>
					  	  <div class="answer">No, you can request by contacting the customer support.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How do I know whether I have short-listed or not?</div>
					  	  <div class="answer">You will receive a message to your registered number or you can check in My Jobs for the status and contact the Employers.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How many jobs can I apply?</div>
					  	  <div class="answer">There is no limit for no. of jobs to apply. We suggest you to check your availability before applying</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How can I change Email/Contact number after Registration?</div>
					  	  <div class="answer">Contact Customer Support.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How do I upgrade my plan?</div>
					  	  <div class="answer">You can contact customer support or at the time of renewal.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">Where can I check whether the job posted by me is successfully posted or not?</div>
					  	  <div class="answer">You can check on the Jobs Posted Tab.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How can I edit the end date after posting a job?</div>
					  	  <div class="answer">You can go to Jobs Posted tab & edit the dates.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How can I know that someone has applied for the job?</div>
					  	  <div class="answer">You can know by clicking on applicant’s tab and check no. of students applied for the job.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">Can I post a job other than the 50 Part-Time jobs you provided?</div>
					  	  <div class="answer">Yes, you can. Contact Customer Support.</div>
					  	</div>

					</div>
			  </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <p>
                <b>What we do</b><br>
               ampmjobs.in is your dedicated platform for Part-Time, Seasonal, and Internship jobs, tailored 
               exclusively for the Student community. We bridge the gap between Employers and Students, 
               offering a wealth of Part-Time job opportunities across various locations and domains. Our "EARN 
               WHILE YOU LEARN" initiative spans PAN India, empowering Students to gain valuable experience 
               while supporting their studies and meeting their financial needs. Employers benefit from access to 
               a database of eager Students, helping to eradicate child labour and providing a flexible 
               workforce ready to meet their needs.</p>

              <p>
                <b>ampmjobs.in role</b><br>
                At ampmjobs.in, we maximize the benefits of a Part-Time jobs platform, offering a robust, scalable, 
               and secure application. Students can easily register, search for jobs that interest them, and benefit 
				from a user-friendly interface. Employers can post job requirements, search for potential hires, and 
				manage listings with ease. Our low and affordable registration process ensures that both Students 
				and Employers can seamlessly engage with the platform.
             </p>


              <ul>
                
                <b>Student Benefits</b><br>
                <li><i class="bi bi-check-circle"></i>24/7 Online Access: Search for Part-Time jobs anytime, anywhere, without the need for bulletin boards or advertisements.</li>
                <li><i class="bi bi-check-circle"></i>Access to More Jobs: Explore a wider range of job opportunities across multiple locations.</li>
                <li><i class="bi bi-check-circle"></i>Flexibility for Multi-tasking Students: Find Part-Time jobs in any city, even during vacations.</li>
                <li><i class="bi bi-check-circle"></i>2-Way Job Search: Create Student profiles for Employers to view and choose from. </li>
                <li><i class="bi bi-check-circle"></i> E-Notifications: Receive direct alerts of new job postings.</li>
                <li><i class="bi bi-check-circle"></i>Hot Postings: Always find the latest job listings, managed by Employers.  </li>
                <li><i class="bi bi-check-circle"></i>Secure Experience: Confidential information is only accessible to registered Employers, with alerts for profile views.</li>
                <li><i class="bi bi-check-circle"></i>Searchable Job Listings: Filter listings to find specific job types easily.</li>
				<li>
					<div class="d-flex justify-content-end">
						<a class="register-button" th:href="@{/home/registration/1}">Student Register</a>
					</div></li>
                <b>Employer Benefits</b><br>
                <li><i class="bi bi-check-circle"></i>Post Multiple Jobs: Flexibly post multiple job requirements within specific time frames.</li>
                <li><i class="bi bi-check-circle"></i>Full Control: Update and manage postings anytime with a click.</li>
                <li><i class="bi bi-check-circle"></i>Searchable Student Profiles: Contact Students directly through their job profiles.</li>
                <li><i class="bi bi-check-circle"></i>E-Notifications: Receive automatic emails when new Student profiles match your postings.</li>
                <li><i class="bi bi-check-circle"></i>Secure Experience: Keep personal information confidential.</li>
              </ul>

              <p>
                <b>Need More Information?</b><br>
                For more details, contact our customer care services at <a href="mailto:support@ampmjobs.in">support@ampmjobs.in</a>. Our representatives are ready to assist you with your needs.
              	<br>
              	<div class="d-flex justify-content-end">
						<a class="register-button" th:href="@{/home/registration/2}">Employer Register</a>
					</div>
              </p>
              
              <div class="mt-4 small-screen">
				  <h2 class="previous">FAQ's : -</h2>
					<div class="faq">
					  <div class="faq-box">
							<div class="question" style="width: 100%;">Can I get a refund if I cancel the Subscription?</div>
					  		<div class="answer" style="width: 100%;">No.</div>
						</div>
					  	<div class="faq-box">
							<div class="question" style="width: 100%;">How do I Resolve the issue if my transaction has failed and the money got deducted from my bank account?</div>
					  		<div class="answer" style="width: 100%;">You have to submit the UTR No/Transaction Id and screenshot of the payment details to customer care.</div> 
						</div>
					  	<div class="faq-box">
						  	<div class="question">What Payment methods are accepted?</div>
					  		<div class="answer">UPI, Net Banking, Debit Card & Credit Card</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">Can I change my preferred location?</div>
					  	  <div class="answer">Yes! You can change it in the Dashboard</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">Can I change my job interests in the application?</div>
					  	  <div class="answer">No, you can request by contacting the customer support.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How do I know whether I have short-listed or not?</div>
					  	  <div class="answer">You will receive a message to your registered number or you can check in My Jobs for the status and contact the Employers.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How many jobs can I apply?</div>
					  	  <div class="answer">There is no limit for no. of jobs to apply. We suggest you to check your availability before applying</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How can I change Email/Contact number after Registration?</div>
					  	  <div class="answer">Contact Customer Support.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How do I upgrade my plan?</div>
					  	  <div class="answer">You can contact customer support or at the time of renewal.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">Where can I check whether the job posted by me is successfully posted or not?</div>
					  	  <div class="answer">You can check on the Jobs Posted Tab.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How can I edit the end date after posting a job?</div>
					  	  <div class="answer">You can go to Jobs Posted tab & edit the dates.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How can I know that someone has applied for the job?</div>
					  	  <div class="answer">You can know by clicking on applicant’s tab and check no. of students applied for the job.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">Can I post a job other than the 50 Part-Time jobs you provided?</div>
					  	  <div class="answer">Yes, you can. Contact Customer Support.</div>
					  	</div>

					  
					</div>

			  </div>      
              
            </div>
          </div>
        </div>
      </section><!-- End About Section -->

      <!-- ======= Footer ======= -->
              <footer id="footer"  th:include="footer :: included-footer"></footer>
<!-- End Footer -->
    </main>

    <a href="#"
      class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

     <!-- Vendor JS Files -->
  <script  th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
  <script  th:src="@{/assets/vendor/aos/aos.js}"></script>
  <script  th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script  th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
  <!-- Template Main JS File -->
  <script  th:src="@{/assets/js/main.js}"></script>
  <script>
  document.querySelectorAll('.faq-box').forEach(item => {
    item.addEventListener('click', event => {
      const answer = event.currentTarget.querySelector('.answer');

      // Hide all answers except the clicked one
      document.querySelectorAll('.faq-box .answer').forEach(ans => {
        if (ans !== answer) {
          ans.style.display = 'none';
        }
      });

      // Toggle display of the clicked answer
      answer.style.display = answer.style.display === 'block' ? 'none' : 'block';
    });
  });
</script>

  </body>
</html>
